body, html {
	height: 100%;
	margin: 0;
}

.top {
	height: 50px;
}

.controls {
	padding: 10px;
}

.map {
	height: 75%;
}

.graph-container {
	box-sizing: border-box;
	width: 100%;
	height: 25%;
	padding: 5px;
	border: 1px solid #ddd;
}

.graph-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.horizontal-separator {
	margin-right: 32px;
}

